<fieldset class="desing">
  <include src="./headerForm.html" titleJs="js_designTitle" title="Diseña" icon="fa fa-object-ungroup"
    classJs="js_iconDesign">
  </include>
  <div class="desing__div js_divDesign collapsed">
    <h3 class="desing__div--title3">Colores</h3>
    <div class="desing__div--colors">
      <label class="familyColor1" for="familyColor1">
        <input id="familyColor1" type="radio" value="1" name="color" />
        <div class="color1 sqColor"></div>
        <div class="color2 sqColor"></div>
        <div class="color3 sqColor"></div>
      </label>
      <label class="familyColor2" for="familyColor2">
        <input id="familyColor2" type="radio" value="2" name="color" />
        <div class="color4 sqColor"></div>
        <div class="color5 sqColor"></div>
        <div class="color6 sqColor"></div>
      </label>
      <label class="familyColor3" for="familyColor3">
        <input id="familyColor3" type="radio" value="3" name="color" />
        <div class="color7 sqColor"></div>
        <div class="color8 sqColor"></div>
        <div class="color9 sqColor"></div>
      </label>
    </div>
  </div>
</fieldset>