<main class="mainLanding">

  <section class="mainInfo">
    <section class="mainInfo__logoCards">
    </section>

    <section>
      <h1 class="mainInfo__title">Crea tu tarjeta de visita</h1>
      <p class="mainInfo__description">Crea mejores contactos profesionales
        de forma fácil y cómoda</p>
    </section>

    <section class="mainInfo__iconsGroup">
      <div>
        <i class="iconStyle fa fa-object-ungroup fa-2x" aria-hidden="true"></i>
        <p class="iconText">Diseña</p>
      </div>
      <div>
        <i class="iconStyle fa fa-keyboard fa-2x"></i>
        <p class="iconText">Rellena</p>
      </div>
      <div>
        <i class=" iconStyle fa-solid fa-share-nodes fa-2x"></i>
        <p class="iconText">Comparte</p>
      </div>
    </section>
  </section>


  <section class="buttonLanding">
    <a class="buttonLanding__Link" href="./cards.html"
      alt="Comenzar">Comenzar</a>
  </section>
</main>