<main class="mainLanding">
  <img class="mainLanding__logoCards"
    src="./assets/images/logo-awesome-profile-cards.svg" alt="card image" />
  <section>
    <h1 class="mainLanding__title">Crea tu tarjeta de visita</h1>
    <p class="mainLanding__description">Crea mejores contactos profesionales
      de forma fácil y cómoda</p>
    <div>
      <i class="fa-solid fa-object-ungroup"></i>
      <p>Diseña</p>
    </div>
    <div>
      <i class="fa-solid fa-keyboard"></i>
      <p>Rellena</p>
    </div>
    <div>
      <i class="fa-solid fa-share-nodes"></i>
      <p>Comparte</p>
    </div>
  </section>

  <section class="mainLanding__buttonLanding">
    <a class="buttonLanding__decorateLink" href="./cards.html"
      alt="Comenzar">Comenzar</a>
  </section>
</main>