<section class="preview">
  <button class="preview__reset js_btnReset">
    <i class="fa-regular fa-trash-can"></i> Reset
  </button>

  <article class="preview__box js_previewBox palette-3">
    <h3 class="preview__name js_previewName">Nombre apellido</h3>
    <p class="preview__job js_previewJob">Front-end developer</p>
    <div class="preview__photo js__profile-image"></div>

    <nav>
      <ul class="preview__socialIcons">
        <li>
          <a
            href=""
            target="_blank"
            class="preview__icon js_previewPhone js_preview_icon"
          >
            <i class="fa-solid fa-mobile-screen-button js_icons"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            class="preview__icon js_previewEmail js_preview_icon"
          >
            <i class="fa-regular fa-envelope js_icons"></i>
          </a>
        </li>

        <li>
          <a
            href=""
            target="_blank"
            class="preview__icon js_previewLinkedin js_preview_icon"
          >
            <i class="fa-brands fa-linkedin-in js_icons"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            class="preview__icon js_previewGithub js_preview_icon"
          >
            <i class="fa-brands fa-github-alt js_icons"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="preview__rectangle js_preview__rectangle"></div>
  </article>
</section>
