<section class="preview">
    <button class="preview__reset">
        <i class="fa-regular fa-trash-can"></i>
        Reset  
    </button>
    <div class="preview__box">
        <h3 class="preview__name">Nombre apellido</h3>
        <p class="preview__job">Front-end developer</p>
        <img class="preview__photo" src="../assets/images/img-preview.jpg" alt="profile preview">
        <div class="preview__socialIcons">
            <div class="preview__icon">
                <i class="fa-solid fa-mobile-screen-button"></i>
            </div>
            <div class="preview__icon">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="preview__icon">
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="preview__icon">
                <i class="fa-brands fa-github-alt"></i>
            </div>
        </div>
        <div class="preview__rectangle"></div>
    </div>
</section>