<fieldset class="share">
    <legend class="share__title"> <i class="fa-solid fa-share-nodes  share__title--icon"></i>Comparte</legend>


    <div class="share__button">
        <i class="fa-regular fa-address-card share__button--icon"></i>
        <input type="submit" value="Crear tarjeta" class="share__button--input">
    </div>
    <div class="card">
        <p class="card__text"> La tarjeta ha sido creada:</p>
        <p class="card__link">link de prueba</p>


        <div class="card__twitter">
            <i class="fa-brands fa-twitter card__twitter--icon"></i>

            <a class="card__twitter--link "
                href="https://twitter.com/intent/tweet?text= adalab&url=http://localhost:3000/cards.html&hashtags=profilecard"
                target="_blank">
                Compartir en twitter </a>

        </div>
    </div>
</fieldset>