// colors

$light-khaki: #f9f4dc;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: hsl(0, 0%, 84%);
$white-two: #d8d8d8;
$black: #000;
$gunmetal: #54585a;
$brownish-grey: #6b6b6b;
$slate: #3e5b65;
$dark-green-blue: #114e4e;
$white-three: #fff;
$white-four: #f5f5f5;
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$dull-orange: #e17334;

//Fonts
$font-family-landing: "Merriweather", serif;
$font-family-principal: "Open Sans", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;