.header {
  width: 100%;
  height: 111px;

  &__container {
    display: flex;
    width: 201px;
    height: 50px;

    margin: 31px 0 0 40px;
  }
  &--logoProfile {
    width: fit-content;
  }
}
