.mainLanding {
  width: 100vw;
  height: 80vh;
  padding: 22vh 10vw 6vh;
  background-color: $white-four;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__logoCards {
    width: 250px;
    height: 63px;
    background: url(../images/logo-awesome-profile-cards.svg) center no-repeat;
    background-size: contain;

    @media all and (min-width: 768px) {
      width: 419px;
      height: 105px;
    }
  }

  &__title {
    font-family: $font-family-landing;
    color: $dull-orange;
    font-size: 19.2px;

    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__description {
    font-family: $font-family-principal;
    color: $dark-green-blue;
    font-size: 12.8px;

    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__iconsGroup {
    width: 268px;
    height: 73.8px;
    border: solid 1.6px $dull-orange;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
    }

    .iconStyle {
      color: $dull-orange;

    }

    .iconText {
      color: $gunmetal;
      font-size: 12.8px;
      font-family: $font-family-principal;
      margin-top: 5px;
    }
  }
}

.buttonLanding {
  width: 129px;
  height: 42px;
  background-color: $dirty-blue;
  border-radius: 21px;

  &__Link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white-two;
    font-family: $font-family-principal;
    font-weight: 600;
    display: inline-block;
    padding: 10%;
  }
}