.mainCard {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-image: linear-gradient($white-four, $white-three);
    height: 100%;
    padding: 0 40px;
    gap: 30px;
  }
}

.form {
  font-family: $font-family-principal;
  padding: 0 20px;

  @media all and (min-width: 768px) {
    width: 329px;
    padding: 0 0;
    ;
  }
}

.headSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 281px;

  @media all and (min-width: 768px) {
    width: 329px;
  }

  &__title {
    color: $gunmetal;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .fa {
    color: $dull-orange;
    padding-right: 10px;
  }
}