.preview {
  background: linear-gradient($silver, $pale-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__box {
    width: 240px;
    background-color: $white-three;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  }

  &__name {
    width: 200px;
    height: 20px;
    color: $dark-green-blue;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__job {
    width: 170px;
    height: 20px;
    color: $gunmetal;
    margin-left: 20px;
  }

  &__photo {
    width: 240px;
    height: 200px;
    margin-top: 10px;
  }

  &__socialIcons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 20px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px $hospital-green;
    color: $dark-green-blue;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__rectangle {
    width: 5px;
    height: 42px;
    background-color: $dirty-blue;
    position: absolute;
    top: 20px;
  }

  &__reset {
    width: 75px;
    height: 30px;
    font-size: 12px;
    color: $gunmetal;
    text-transform: uppercase;
    background-color: $silver;
    border-radius: 15px;
    border: solid 1px $white-three;
    margin-top: 40px;
    margin-left: -170px;
  }
}

.fa-trash-can {
  color: $gunmetal;
  font-size: 12px;
  //margin: 5px 10px;
}
