.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: $white-two solid 1px;

  &__button {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 209px;
    height: 50px;
    background-color: $dull-orange;
    border: none;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);

    font-size: 18px;
    color: $white-two;

    text-transform: uppercase;

    &:hover {
      background-color: $white;
    }

    &--icon {
      color: $white-two;
      font-size: 22px;
      height: 22px;
      padding-right: 14px;
    }
  }
}

.card {
  font-family: $font-family-principal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: $white-two solid 1px;
  border-top: $white-two solid 1px;

  &__text {
    color: $gunmetal;
    font-size: 18px;
    padding: 20px 0 5px 0;
  }

  &__link {
    font-size: 12px;
    color: $dull-orange;
    margin-bottom: 10px;
  }

  &__twitter {
    background-color: $azure;
    height: 30px;
    width: 181px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    &--icon {
      font-size: 18px;
      color: $white-three;
    }

    &--link {
      text-decoration: none;
      color: $white-three;
      font-size: 14px;
      padding: 20px 9px 20px 9px;
    }
  }
}